<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- File browser code unused -->
    <form id="upload-form" action="{{ url_for('saveimages') }}" method="POST" enctype="multipart/form-data">
        <strong>Files:</strong><br>
        <input id="file-picker" type="file" name="file" accept="image/*" multiple>
        <div id="msg"></div>
        <input type="submit" value="Upload!" id="upload-button">
    </form>
    
{% for source in output_images %}
<img src="{{ source }}">
{% endfor %}
</body>
<script>
    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');
        for (var i=0; i<input.files.length; i++)
        {
        //img1.jpg, img1.JPG substring(index) lastIndexOf('a') img1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if ((ext == 'jpg') || (ext == 'png') || (ext == 'jpeg') )
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }
    } );
</script>
</html>
